<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nest.js EJS Template Example</title>
  </head>
  <body>
    <h1>Welcome to my Nest.js EJS template example</h1>
    <p><%= message %></p>
  </body>
</html>
